name: Run GitHub Scraper

on:
  workflow_dispatch:
  schedule:
    - cron: "0 16 * * *" # every day at 4 PM UTC

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Run GitHub scraper
        run: node extractors/scraper.js
