name: Scrape Jobs

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *"

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Run scraper
        run: node extractors/scraper.js
        env:
          SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
          SUPABASE_INGEST_URL: ${{ secrets.SUPABASE_INGEST_URL }}
          SCRAPER_SECRET_KEY: ${{ secrets.SCRAPER_SECRET_KEY }}
