name: Job Scraper

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *"

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install deps
        run: npm install

      - name: Run scraper
        run: node extractors/scraper.js
        env:
          WEBHOOK_URL: ${{ secrets.WEBHOOK_URL }}
          SCRAPER_SECRET_KEY: ${{ secrets.SCRAPER_SECRET_KEY }}
